*{
    margin: 0;
    padding: 0;
}
/*for adding image backgroud*/
body{
   
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url("back.jpeg");
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 109vh;
}
.logo{
    height:45px;
    width:200px;
   /* border: 2px solid pink;*/
    color: orangered;
}
.icon{
    display: flex;

}
.he{
    text-align: center;
    font-size: 30px;
}

.rem{
    padding-top:10px;
    color: white;
    display: flex;
    gap:50px;
    justify-content: center;
    text-align: center;
}
.sear{
    padding-top: 5px;
    padding-left: 50px;
    height: 25px;;
}
.search-box{
    height: 32px;
    background-color:rgb(10, 10, 61);
    background: transparent;
    border: 1px solid orangered;
}

#srch{
    background-color: orangered;
    margin-top: 2px;
   
   padding-right: 5px;
   padding-left: 2px;
    color: white;
    height: 36px;
    width: 75px;
}
.content{
    color:white;
    
    width: 500px;
    margin-top: -166px;

}
.content span{
    color: orangered;
}
#btn{
    position: absolute;
   
    width:100px;
    height: 38px;
    background-color: rgb(243, 93, 38);
    border-radius: 8px;
}
.para{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 28px;
}
a{
    text-decoration: none;
    color: white;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
}

.login{
    width: 250px;
    height: 350px;
    background: rgba(0,0,0,0.8);
   
    border-radius: 10px;
    padding: 25px;
    color: white;
    text-align: center;
}

.login h2{
    background: white;
    color: orangered;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login input{
    width: 100%;
    height: 35px;
    margin-top: 15px;
    background: transparent;
    border: none;
    border-bottom: 2px solid orangered;
    color: white;
    outline: none;
}

#lbtn{
    width: 100%;
    height: 40px;
    background: orangered;
    border: none;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.link{
    margin-top: 28px;
    font-size: 14px;
}

.link a{
    color: orangered;
}

.icons{
    margin-top: 15px;
}

.icons ion-icon{
    font-size: 22px;
    margin: 0 8px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.icons ion-icon:hover{
    color: orangered;
}
.sec{
    background:white ;
    text-align: center;
    padding: 50px 80px;
}

.sec h2{
    margin-bottom: 20px;
    text-align: left;
}
.sec span{
    color: rgb(164, 64, 236);
    text-decoration: underline;
    
}
.sec span #hea{
    font-size: 46px;
}
.course-cont{
    display: flex;
   
    align-items: center;
    gap:70px;
    
}
.course-card img{
    width:250px;
}

.price{
    display: flex;
    text-align: left;
    gap:23px;
}

.price span{
    font-size: 25px;

}
.price #dis
{
    text-decoration: none;
    color: black;
}
#actual{
    text-decoration: line-through;
    color: grey;
}
.course-btn{
    display: flex;
    text-align: left;
    margin-top: 15px;
    gap:20px;
}
#prm{
    background-color: rgb(131, 19, 235);
    color: white;
    width:100px;
    height: 25px;
    border:none;
    border-radius: 5px;
}
#bs{
    background-color: rgb(106, 182, 182);
    width:100px;
    height: 25px;
    border:none;
    border-radius: 5px;
}
.footer{
    text-align: center;
    font-size: 20px;
    background-color: #292828;
    color: white;
}
.footer-content h3{
    color: orangered;
    margin-bottom: 9px;
}
.footer-content {
    margin-bottom: 9px;
}
.footer-bottom{
    margin-bottom: 10px;
}
.footer-links{
   margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
}
.footer-links a{
    color: pink;
}

.contact{
    margin-bottom: 10px;
}